
.DS_Store
.build/
.generated-hosts/
DerivedData/
Utatane.xcodeproj/
*.xcuserstate
xcuserdata/

# mise
.mise.local.toml

Content/Local
References/Local
Internal-Docs
dist
build
apps/Utatane/Resources/*Host
website
