[submodule "packages/shiori/native/yaya/Sources/CYayaNative/Vendor/YAYA"]
	path = packages/shiori/native/yaya/Sources/CYayaNative/Vendor/YAYA
	url = https://github.com/opera7133/yaya-shiori
	branch = utatane-macos
[submodule "packages/shiori/native/satori/Sources/CSatoriNative/Vendor"]
	path = packages/shiori/native/satori/Sources/CSatoriNative/Vendor
	url = https://github.com/opera7133/satoriya-shiori
	branch = utatane-vendor
[submodule "packages/shiori/native/kawari/Sources/CKawariNative/Vendor/KAWARI"]
	path = packages/shiori/native/kawari/Sources/CKawariNative/Vendor/KAWARI
	url = https://github.com/opera7133/kawari.git
	branch = utatane-macos
[submodule "packages/shiori/native/kagari/Vendor/kagari"]
	path = packages/shiori/native/kagari/Vendor/kagari
	url = https://github.com/opera7133/kagari_shiori.git
	branch = utatane-macos
