
.DS_Store
.build/
.generated-hosts/
.generated-nicxlive/
.generated-native-shiori/
DerivedData/
Utatane.xcodeproj/
*.xcuserstate
xcuserdata/

# mise
.mise.local.toml

Content/Local
References/Local
Internal-Docs
dist
build
apps/Utatane/Resources/*Host

# Ghost local extensions
Content/Bundled/Ghosts/*/shell/master/*_local.*
Content/Bundled/Ghosts/*/shell/master/surface[3-9]*.png
Content/Bundled/Ghosts/*/ghost/master/dic/*_local.dic
Content/Bundled/Ghosts/*/ghost/master/dic/local.dic
*.profraw
