[submodule "packages/yaya-native/Sources/CYayaNative/Vendor/YAYA"]
	path = packages/yaya-native/Sources/CYayaNative/Vendor/YAYA
	url = https://github.com/opera7133/yaya-shiori
	branch = utatane-macos
[submodule "packages/satori-native/Sources/CSatoriNative/Vendor"]
	path = packages/satori-native/Sources/CSatoriNative/Vendor
	url = https://github.com/opera7133/satoriya-shiori
	branch = utatane-vendor
[submodule "packages/kawari-native/Sources/CKawariNative/Vendor/KAWARI"]
	path = packages/kawari-native/Sources/CKawariNative/Vendor/KAWARI
	url = https://github.com/opera7133/kawari.git
	branch = utatane-macos
[submodule "packages/kagari-native/Vendor/kagari"]
	path = packages/kagari-native/Vendor/kagari
	url = https://github.com/opera7133/kagari_shiori.git
	branch = utatane-macos
